extends layout

block content
	.row
		.col-md-6
			.jumbotron
				h3 Create New
				p ...
				p
					a.btn.btn-primary.btn-lg(href=process.env.APP_BASE_URL+routename.auctionNew, role="button") Create!
		.col-md-6
			.jumbotron
				h3 Join Auction
				form(action=process.env.APP_BASE_URL+routename.auction, method='POST')
					.input-group
						input#session-id.form-control(type='text', name='session-id', placeholder='Session ID')
						.input-group-btn
							input.btn.btn-primary(type='submit', value='Join !')
