extends layout

block content
	.panel.panel-default
		.panel-heading
			h3.panel-title Create new Auction
		.panel-body
			form.dropzone(action="/file-upload")
				.fallback
					input(name="file", type="file", multiple="")
			form
				.form-group
					label(for='product-name-txt') Product Name
					input#product-name-txt.form-control(type='text', name='product-name', placeholder='Goodie Goods')
				.form-group
					label(for='product-desc-txt') Product Description
					textarea#product-desc-txt.form-control(type='text', name='product-desc', rows='10', placeholder='Goodie Goods desc')
				.form-group
					label(for='product-tags-txt') Tags
					.match-parent-width
						input#product-tags-txt.form-control(type='text', name='product-tags', data-role='tagsinput', placeholder='Goodie Goods')
				

				.form-group
					label(for='product-price-txt') Open Bid Price
					.input-group
						.input-group-btn
							select.btn.btn-default
								option IDR
								option USD
						input#product-price-txt.form-control(type='text', name='product-price', placeholder='Goodie Goods')
				.form-group
					label(for='product-multiplier-txt') Multiplier
					input#product-multiplier-txt.form-control(type='text', name='product-multiplier', placeholder='Goodie Goods')
				.checkbox
					label
						input(type='checkbox')
						|  Accept term &amp; conds
				button.btn.btn-default(type='submit') Submit