extends layout

block content
	.row
		.col-md-6
			.jumbotron
				h3 Create New
				p ...
				p
					a.btn.btn-primary.btn-lg(href="#", role="button") Create!
		.col-md-6
			.jumbotron
				h3 Join Auction
				p ...
				p
					a.btn.btn-primary.btn-lg(href="#", role="button") Join!
